* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
}

:root {
  --text-dark: #171717;
  --text-light: #e5e5e5;
  --white: #ffffff;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  background-image: url("walpae.jpg");
background: linear-gradient(90deg, rgba(107,217,157,0.9192051820728291) 44%, rgba(141,117,247,0.896796218487395) 100%);
}
.fundo{
  display: flex;
  align-items: center;
 
}
main {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--white);
  border-radius: 1.5rem;
  margin: 1rem;
  backdrop-filter: blur(8px);
}
.descri{
  text-align: center;
  padding: 10%;
  color: #e5e5e5;
}

.resume {
  display: flex;
  padding: 100px 0;
  gap: 40px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.resume > div {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
}

.newItem {
  display: flex;
  gap: 10px;
  align-items: end;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.divDesc, .divType, .divAmount {
  display: flex;
  flex-direction: column;
}

.newItem > button {
  background-color: #e20f0f;
  color: white;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 34px;
}

input, select {
  padding: 5px;
}

.divTable {
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  width: 98%;
  padding: 20px 0;
  border-radius: 5px;
}

th {
  text-align: start;
  border-bottom: inset;
  padding-bottom: 5px;
}

i {
  font-size: 25px;
}

.bxs-chevron-up-circle {
  color: #00C9A7;
}

.bxs-chevron-down-circle {
  color: #D83121;
}

.columnAction {
  width: 40px;
  text-align: center;
}

.columnAction > button {
  background: transparent;
  border: none;
}

.columnAmount {
  width: 30%;
}

.columnType {
  width: 80px;
  text-align: center;
}
